<div class="container vh-100 d-flex flex-column">
    <div class="d-flex align-items-center justify-content-between px-1 py-3">
        <h3 class="fs-4" (click)="toggleFullScreen()">Game</h3>

        <div class="d-flex w-50 gap-2">
            <button class="btn btn-primary w-50 rounded-0" (click)="toggleVocabularyForm()">New +</button>
            <button class="btn btn-primary w-50 rounded-0">Play &#9658;</button>
        </div>
    </div>

    <div class="d-flex flex-column flex-grow-1 gap-1 px-1 pb-3 pt-1 overflow-auto">
    </div>

</div>

